# zato create cluster config
cluster_name=TEST
command=create_cluster
broker_host=192.168.1.1
broker_port=6379
odb_db_name=zato2
odb_password=zato2
odb_host=192.168.1.1
odb_port=5432
odb_type=postgresql
odb_user=zato2
lb_host=192.168.1.1
lb_port=11223
lb_agent_port=20151
store_config=False
tech_account_name=
tech_account_password=
