# zato create server config
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.server.cert.pem
cluster_name=TEST
command=create_server
kvdb_host=192.168.1.1
kvdb_port=6379
kvdb_password=
odb_db_name=zato2
odb_password=zato2
odb_host=192.168.1.1
odb_port=5432
odb_type=postgresql
odb_user=zato2
path=/opt/zato/env/server
postgresql_schema=
priv_key_path=/opt/zato/ca/zato.server.key.pem
pub_key_path=/opt/zato/ca/zato.server.key.pub.pem
server_name=server1
store_config=False
