# zato create load balancer config
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.load_balancer.cert.pem
command=create_lb
path=/opt/zato/env/load-balancer
priv_key_path=/opt/zato/ca/zato.load_balancer.key.pem
pub_key_path=/opt/zato/ca/zato.load_balancer.key.pub.pem
store_config=False
