# zato create web admin config
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.web_admin.cert.pem
command=create_web_admin
odb_db_name=zato2
odb_password=zato2
odb_host=192.168.1.1
odb_port=5432
odb_type=postgresql
odb_user=zato2
path=/opt/zato/env/web-admin
postgresql_schema=
priv_key_path=/opt/zato/ca/zato.web_admin.key.pem
pub_key_path=/opt/zato/ca/zato.web_admin.key.pub.pem
store_config=False
tech_account_name=
tech_account_password=
